/* Styles pour le formulaire de contact */

form {
  width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
}

input, select, textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ff5500;
}



.container {
  text-align: center;
}

.container aside {
  display: inline-block;
}

.container .form {
  display: inline-block;
  /* Autres styles pour le formulaire */
}
