*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}


body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header{
    height: 100vh;
    width: 100vw;
}

nav{
    background-color: brown;
    padding: 25px;
    border-style:double;
    background-image:url(backgr.webp);
    background-size: cover;
    

}
