


body {
display:flex ;
justify-content: center;
align-items : center;
height: 100vh;
background-color: #ddd ;

}
.images {
 display: flex;
 animation-duration: 10s;
 animation-name: mesImages;
 animation-iteration-count: inifite ;
}
#Caroussel {
width: 892px;
overflow: hidden;
border: 2px solid #333 ;
}
@keyframes mesImages {
     0% {
	     transform: translatex(0);
		}
		 25% {
	     transform: translatex(-892);
		}
		 50% {
	     transform: translatex(-1784);
		}
		 75% {
	     transform: translatex(-2676);
		}
		 100% {
	     transform: translatex(0);
		}
		 


 