/* *{box-sizing: border-box} */



body {
	background: url('images/fondorange.png');
	font-family: 'Trebuchet MS', Arial, sans-serif;
	color: #181818;
    min-height: 100%;
}


#caroussel{
    width: 640px;
    overflow:hidden;
    border: 5px solid #333;
    border-radius: 1%;

} 

.images {
    display:flex;
    animation-duration: 50s;
    animation-name: mesImages;
    animation-iteration-count: infinite;

}

@keyframes mesImages {
5%{
	transform: translateX(0px);
}
10% {
	transform: translateX(-640px);
}
20% {
	transform: translateX(-1280px);
}
30% {
	transform: translateX(-1920px);
}
40% {
	transform: translateX(-2560px);
}
50% {
	transform: translateX(-3200px);
}
60% {
	transform: translateX(-3840px);
}

70%{
	transform: translateX(-4480px);
}

80%{
	transform: translateX(-5120px);
}

90%{
	transform: translateX(-5760px);
}

}

	


/*
i=0 0px
i=1 640px
i=2 1280px
i=3 1920px
i=4 2560px
i=5 3200px
i=6 3840px
i=7 4480px
i=8 5120px
i=9 5760px
i=10 6400px


*/


/* 
@keyframes mesImages {
    5%{
        transform: translateX(0);
    }

    10% {
        transform: translateX(-889px);
    }

    20% {
        transform: translateX(-1778px);
    }

    30% {
        transform: translateX(-2667px);
    }

    40% {
        transform: translateX(-3556px);
    }


    50% {
        transform: translateX(-4445px);
    }


    60% {
        transform: translateX(-5334px);
    }

    70%{
        transform: translateX(-6223px);
    }

    80%{
        transform: translateX(-7112px);
    }

    90%{
        transform: translateX(-8001px);
    }

} */


/* @keyframes mesImages {
    0%{
        transform: translateX(0);
    }

    100% {
        transform: translateX(-640px);
    }



} */










/* Eléments principaux de la page */





  
  html, body {
	  height: 100%;
	  margin: 0;
      padding: 0;
  }
  
  
  body {
	  display : table;
	  width: 100%;
  }
  
  

  
  

  /* Navigation */
  nav {
	display: flex;
	justify-content: center;
	background-color: orange;
	overflow: hidden;
	width: 960px;
  
	margin: 0px auto 40px auto;
	top: 0px;
  
  }
  

 


   
  /* Footer */
  footer {
	background: url('images/ico_top.png') no-repeat top center,
	  url('images/separateur.png') repeat-x top,
	  url('images/ombre.png') repeat-x top;

	/* position: absolute;
	bottom: 0;
	left: 0;
	right: 0; */
  
  } 

  
  footer {
	  display : table-row;
	  height: 100px; /* à titre d'exemple */
  }
