p.titre {
background: #DED983;
color: #345071;
padding:.2em .3em;
font-size:1.2em;
border: 2px outset #DED983;
position: relative;
margin-bottom: -1em;
width: 10em;
margin-left: 1em;
margin-top: 1em;
}

fieldset{
    border: none;
    margin-bottom: 1em;
    width: 33em;
    padding-top: 1.5em;

}
/* 
select {
    margin-left: 9em;
    margin-bottom: 0;
} */






/*
J'abondonne, go l'OCR
le code ne peut pas être copié
et il est mal écrit ce cours
*/

#coordonnees label {
    /* position: absolute; */
    font-size:120%;
    padding-top:.2em;
    left: 30px;
}


/* fieldset message */
fieldset#message {
    background: #9DF2CE;
    border: outset #9DF2CE;
}

#civilite {
    font-size:90%;
}


/* boffe, c'est nul */
/* #civilite input{
    margin-left:9em;
} */

#civilite input + input {
margin-left: 1em;
}




/* cases a cocher des centres d'interet */
#interets {
    font-size:90%;
}

/* boffe, c'est nul */
/* #interets input {
margin-left: 9em;
}
#interets input +input {
margin-left: 1em;
}
#interets br+input {
margin-left: 9em;
} */



/* zone de texte du message */
textarea {
    font:.8em "Trebuchet MS", Verdana, sans-serif;
    width: 29em;
    padding:.2em;
}

/* les boutons submit et reset */

input[type="submit"], input[type="reset"] {
    background: #DED983;
    font: 1.2em "Trebuchet MS", Verdana, sans-serif;
    color: #345071;
}


/* p#buttons {
text-align: center;

} */

